.session {
  background-image: url("res://MainBackground.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.logo {
  horizontal-align: center;
  padding-top: 125;
}

.logo .image {
  horizontal-align: center;
  width: 180;
}

.logo .h1 {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Lobster";
  font-size: 48;
  horizontal-align: center;
  margin: 0 10;
  padding: 10 0 20 0;
}


.btn {
  background-color: #5988FF;
  border-radius: 5;
  color: #FFF;
  font-weight: bold;
  margin: 8 30;
  padding: 8;
}

.btn-link {
  background-color: transparent;
  color: white;
  margin: 0;
  padding: 0;
}

.card-container {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 2;
  margin: 0 10 10 10;
  opacity: 0;
  vertical-align: bottom;
}

.card {
  padding: 15 15 0 15;
}

.new-raid .card {
  padding: 15 15 15 15;
}

.card-title {
  font-size: 20;
  font-weight: bold;
}

.card-description {
  font-size: 14;
  vertical-align: top;
}

.card-image {
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -50;
  margin-bottom: 10;
}

.fab-container {
  horizontal-align: right;
  vertical-align: bottom;
}

.new-raid .fab-container {
  horizontal-align: center;
  vertical-align: bottom;
}

.fi {
  font-family: "Flaticon";
}

.fi-back {
  transform: rotate(180deg);
}

.fi-primary {
  color: #5988FF;
}

.fab {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 35;
  color: black;
  font-family: "Flaticon";
  font-size: 30;
  width: 70;
  height: 70;
  margin: 0 16 16 0;
}

.fab-sm {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 18;
  color: black;
  font-family: "Flaticon";
  font-size: 20;
  width: 36;
  height: 36;
  margin: 0 8 8 0;
}

.fab-primary {
  color: #FFFFFF;
  background-color: #5988FF;
}

.fab-success {
  color: #FFFFFF;
  background-color: #9FD356;
}

.selected {
  background-color: #9FD356;
}

.fab-warning {
  color: #FFFFFF;
  background-color: #F9DC5C;
}

.fab-danger {
  color: #FFFFFF;
  background-color: #E84855;
}

.menu {
  margin-right: 24;
  margin-bottom: 90;
  opacity: 0;
  horizontal-align: right;
  vertical-align: bottom;
}

.menu .fab-container {
  horizontal-align: right;
  vertical-align: center;
}

.menu .fab-text {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5;
  color: #000000;
  font-size: 12;
  margin: 5 8 10 0;
  padding: 3 8 3 8;
}

.form-control {
  background-color: #FFF;
  border-color: #9D9D9D;
  border-width: 1;
  border-radius: 5;
  font-weight: bold;
  margin: 8 30;
  opacity: 0.75;
  padding: 5 10;
}

.form-control-image {
  border-width: 1;
  border-color: #AEAEAE;
  border-radius: 30;
  margin: 20 15;
  width: 60;
  height: 60;
  horizontal-align: center;
  vertical-align: center;
}

.form-control-classic {
  border-width: 0 0 1 0;
  border-color: #AEAEAE;
  margin: 15 15 55 15;
  padding: 0 15;
}

.form-control-classic Label {
  color: #ADADAD;
  font-size: 12;
}

.avatar {
  margin: 15 10 10 15;
  border-color: #AEAEAE;
  border-radius: 64;
  border-width: 1;
  width: 128;
  height: 128;
}

.dungeon {
  background-repeat: no-repeat;
  background-size: contain;
  margin: 15 10 10 15;
  border-color: #AEAEAE;
  border-radius: 64;
  border-width: 1;
  width: 128;
  height: 128;
}

.character-container .title {
  font-size: 18;
  font-weight: bold;
  margin: 15 10 10 15;
}

.avatar-sm {
  border-radius: 44;
  width: 88;
  height: 88;
}

.avatar-image {
  clip-path: inset(0 75% 0 0);
  transform: translateX(240), scale(5);
  horizontal-align: center;
  vertical-align: center;
  width: 128;
  height: 128;
}

.avatar-monster {
  horizontal-align: center;
  vertical-align: center;
  width: 128;
  height: 128;
}

.avatar-sm .avatar-image {
  transform: translateX(295), scale(8.5);
}

.avatar-background {
  margin: 15 10 10 15;
  border-radius: 64;
  background-image: url("res://CitySmall");
  opacity: 0.75;
  width: 128;
  height: 128;
}

.avatar-idle-1 {
  background-position: -30 0;
}

.avatar-idle-2 {
  background-position: 166 0;
}

.avatar-idle-3 {
  background-position: 362 0;
}

.avatar-idle-4 {
  background-position: 558 0;
}

.avatar-big.avatar-idle-1 {
  background-position: -70 -40;
}

.avatar-big.avatar-idle-2 {
  background-position: 186 -40;
}

.avatar-big.avatar-idle-3 {
  background-position: 442 -40;
}

.avatar-big.avatar-idle-4 {
  background-position: 698 -40;
}

.attribute-selection Label {
  height: 45;
  margin: 0 15 0 15;
}

.avatar-controls {
  margin-top: 10;
  horizontal-align: center;
  vertical-align: center;
}

.avatar-controls .fi-next {
  margin-left: 110;
}

.avatar-controls .fi-back {
  margin-left: 5;
}

.character-info {
  width: 100%;
}

.text-input {
  border-bottom-width: 1;
  border-bottom-color: #AEAEAE;
  margin: 15 15 10 10;
  padding: 0 10;
}

.text-view {
  border-bottom-width: 1;
  border-bottom-color: #AEAEAE;
  height: 70;
  margin: 15 15 10 10;
  padding: 0 10;
}

.alert {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10;
  horizontal-align: center;
  vertical-align: center;
  width: 100%;
}

.alert-danger {
  background-color: #E84855;
  color: #FFFFFF;
  font-weight: bold;
}

.new-character, .new-raid {
  background-image: url("res://City");
}

.character-container {
  background-color: rgba(255, 255, 255, 0.75);
  margin: 10;
  border-radius: 2;
}

.attribute-selection {
  padding: 15 5;
}

.character-list-item {
  padding: 15;
}

.new-raid .avatar {
  margin-right: 6;
}

.new-raid .character-list-item {
  padding-left: 6;
}

.character-list-item-title {
  font-weight: bold;
  font-size: 22;
  padding-bottom: 5;
}

.character-list-item-container {
  margin-bottom: 5;
}

.activity-indicator {
  color: #5988FF;
  transform: scale(3);
}

.new-raid .card-container, .battle .card-container {
  opacity: 1;
  margin-top: 10;
}

.new-raid .card-description {
  padding-bottom: 15;
}

.select-character-button {
  horizontal-align: center;
  vertical-align: middle;
}

.jumbotron {
  font-style: italic;
  font-size: 32;
  font-weight: bold;
  horizontal-align: center;
  padding: 15 0;
}
